* {
  box-sizing: border-box;
}
#home {
  margin: 0vh -1vw -1vh;
  padding: 1vh 2vw 1vh;
}

#home h2 {
  font: 650 1.5rem 'Noto Serif', serif;
  color: #f95959;
}
#home p {
  margin-left: 1vw;
  font: 400 1rem 'Noto Serif', serif;
  line-height: 1.5;
  color: #233142;
}
#henry-ford-quote p {
  text-align: center;
  font: 400 1.1rem 'Noto Serif', serif;
}
#contact p {
  margin: 0.2rem 1vw;
  font: 400 0.8rem 'Noto Serif', serif;
}
