* {
  box-sizing: border-box;
}
#school {
  margin: 0vh -1vw -1vh;
  padding: 1vh 2vw 1vh;
}
#school h2 {
  font: 650 1.5rem 'Noto Serif', serif;
  color: #f95959
}
#school a {
  color: #233142;
  font: 400 1rem 'Noto Serif', serif;
  text-decoration: none;
}
#school a:hover {
  font-size: 1.1rem;
}
